
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutPage2.cshtml";
}

<link rel="stylesheet" href="~/Areas/User/assets/css/style_matkhau.css">
<h1>Đổi mật khẩu</h1>
<hr>

<form class="info_box" id="changePassForm">
    <div class="info_row">
        <div class="info_item">
            <h4>Mật khẩu hiện tại <span class="msg msg_curPass" style="color:red"></span></h4>
            <!-- <input type="password" name="" id=""> -->
            <div class="group_input">
                <input type="password" name="curPass" id="curPass" placeholder="Nhập mật khẩu hiện tại"
                       required>
                <div class="eye_btn" id="eye" onclick="if (curPass.type == 'text') curPass.type = 'password';
                        else curPass.type = 'text';">
                    <i class="bi bi-eye"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="info_row">
        <div class="info_item">
            <h4>Mật khẩu mới <span class="msg msg_newPass" style="color:red"></span></h4>
            <!-- <input type="password" name="" id=""> -->
            <div class="group_input">
                <input type="password" name="newPass" id="newPass" placeholder="Nhập mật khẩu mới" required>
                <div class="eye_btn" id="eye" onclick="if (newPass.type == 'text') newPass.type = 'password';
                            else newPass.type = 'text';">
                    <i class="bi bi-eye"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="info_row">
        <div class="info_item">
            <h4>Nhập lại mật khẩu <span class="msg msg_confirmPass" style="color:red"></span></h4>
            <!-- <input type="password" name="" id=""> -->
            <div class="group_input">
                <input type="password" name="confirmPass" id="confirmPass"
                       placeholder="Nhập lại mật khẩu mới" required>
                <div class="eye_btn" id="eye" onclick="if (confirmPass.type == 'text') confirmPass.type = 'password';
                        else confirmPass.type = 'text';">
                    <i class="bi bi-eye"></i>
                </div>
            </div>

        </div>
    </div>

    <button class="save_button">Lưu thông tin</button>

</form>


<div id="toast">

</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/Areas/User/assets/js/animation.js"></script>
<script src="~/Areas/User/assets/js/toast.js"></script>
<script src="~/Areas/User/assets/js/script_matkhau.js"></script>